# Cannot be hosted on github without breaking TOS. TODO: Remove once we're on forgejo
word_filter.toml
# Secret key within for cross-server communication
comms.txt
# Authentication details for the database within

# Secrets used to connect to the TTS server
tts_secrets.txt

# Copyright
**/title_music
**/reboot_themes
**/jukebox_music